<% provide(:title, 'Sign up')%>
<h1>Sign up</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user) do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <div class="error-container <%= @user.errors[:name].any? ? 'visible' : '' %>" >
        <%= error_message_for(@user, :name)%>
      </div>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      <div class="error-container <%= @user.errors[:email].any? ? 'visible' : '' %>" >
        <%= error_message_for(@user, :email)%>
      </div>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <div class="error-container <%= @user.errors[:password].any? ? 'visible' : '' %>" >
        <%= error_message_for(@user, :password)%>
      </div>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <div class="error-container <%= @user.errors[:password_confirmation].any? ? 'visible' : '' %>" >
        <%= error_message_for(@user, :password_confirmation)%>
      </div>

      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>